<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{show.name}}">
<ion-nav-bar>
  <ion-nav-back-button class="button-gold">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
      <div class="item item-body">
        <img class="showimage" ng-src="{{show.image}}">
        <p>
          {{show.description}}
        </p>
      </div>
      <div class="list">

  		<a class="item item-icon-left" href="#">
   		 <i class="ion-android-time"></i>
   		 {{show.date}}
  		</a>

 		<a class="item item-icon-left item-icon-right" href="#">
  		 <i class="ion-social-euro"></i>
   		 {{show.price}}
 		</a>
 	
  <label class="item item-input item-select">
  <div class="input-label">
  Nombre de place
  </div>
  <select ng-init ="mySelect='1'" ng-model="mySelect">
    <option value="1">1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
</select>
  </label>

      <button class="button button-block button-positive">
        Ajouter à ma liste
      </button>
    </div>
  </ion-content>
</ion-view>