<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{show.title}}">
<ion-nav-bar>
  <ion-nav-back-button class="button-dark">
    <i class="ion-arrow-left-c"></i>
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content class="padding">
  <div class="item">
    <h2>{{show.title}}</h2>
    <p>{{show.date}}</p>
    <p>{{show.location}}</p>
  </div>
   <div class="item item-body">
  <img ng-src="{{show.image}}">
    <p>
      {{show.description}}
    </p>
    <button class="button button-block button-positive" ng-click="openModal()">
    Réserver pour {{show.price}}€
    </button>
      </div>
  </ion-content>
</ion-view>
