<ion-view view-title="Accueil" class="dashboard">
  <ion-content class="padding">
    <img src="img/logo.png" class="logo" />
    <p>
    Go Concert vous recommande des concerts en fonction de vos goûts musicaux !
    </p>
    <div class="list card">
      <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Que cherchez-vous ?" ng-model="search">
      </label>
    </div>
    <div class="item item-body">
     <h2>
    Les coups de coeur GoConcert 
    </h2>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="show in shows | filter:search track by show.id" type="item-text-wrap" href="#/tab/shows/{{show.id}}">
        <img ng-src="{{show.image}}">
        <h2>{{show.title}}</h2>
        <p>{{show.description}}</p>
      </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>
